---
import type { Localized } from '../lib/i18n';
import T from './T.astro';

interface Props {
  period: Localized;
  title: Localized;
  location: Localized;
  summary: Localized;
  participants: Localized;
}

const { period, title, location, summary, participants } = Astro.props;
---

<div class="past-card reveal">
  <T value={period} tag="p" class="year" />
  <T value={title} tag="h3" />
  <T value={location} tag="p" class="location" />
  <T value={summary} tag="p" />
  <T value={participants} tag="p" class="participants" />
</div>
